{% extends "header.html" %}

    {% block body %}
    <section class="first-section"  style="display:grid; place-content: center;">
        <!-- <div> -->
            <div class="first-section-text">
                <strong></strong>
            <!-- </div> -->
        </div>
    </section>
    <section class="second-section">
        <p class="church-name">STELLA MARIS CATHOLIC CHURCH</p>
        <div class="description">
            You need a place where you will feel loved and cared for. At stella maris we love people, and we love Jesus no matter your ethnic background
            come and experience Jesus
        </div>
        <h4 class="gathering-times">GATHERING TIMES</h4>
        <div class="container">
            <div class="row first-row">
                <div class="col-lg-4 col-sm-6 gathering-div">
                    SUNDAY MASSES
                    <hr>
                    7:00am and 9:00am
                </div>
                <div class="col-lg-4 col-sm-6 gathering-div">
                    WEEKDAY MASSES
                    <hr>
                    MON, TUE, THUR, SAT: 6:30am<br>
                    WED, FRI: 6pm
                </div>
                <div class="col-lg-4 col-sm-6 gathering-div">
                        CONFESSION HOURS
                    <hr>
                    SAT AFTER MORNING MASS<br>
                    FRI: 5:30am
                </div>
                <div class="col-lg-12 col-sm-6 gathering-div">
                    PARISH OFFICE HOURS
                    <hr>
                    TUE: 9:00am - 1:00pm<br>(morning session)<br>
                    4:00pm - 6:00pm<br>(evening session)
                </div>
            </div>
        </div>
    </section>
    <section class="third-section">
        <div>
            <div class="give">
                <div class="give-heading">LIVE GENEROUSLY</div>
                <div class="give-text">Too often we underestimate the power of a touch, a smile, a kind word,
                a listening ear, an honest compliment, or the smallest act of caring, all of which have the
                potential to turn a life around</div>
                <button type="button" class="btn btn-outline-light btn-lg">GIVE</button>
            </div>
        </div>
    </section>
    <section class="forth-section">
        <h1 class="pious">PIOUS SOCIETY</h1>
        <img class="pious-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2p9fxF1kV56-1xFc3qw862ICglrRfhsIM2Q&usqp=CAU">
        <div class="pious-text">
            <blockquote class="blockquote">
              <p>"Wherever the fear of God rules in the heart, 
                 it will appear both in works of charity and piety, and neither will excuse us from the other."
                </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Matthew Henry
            </figcaption>
        </div>
        <button type="button" class="btn btn-outline-dark btn-lg">JOIN A PIOUS SOCIETY</button>
    </section>
    <section class="fifth-section">
        <h2 class="activities">WHAT'S HAPPENING AT STELLA MARIS</h2>
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-1" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                  <div class="div-content" >
                      <img src="https://www.azquotes.com/picture-quotes/quote-wherever-the-fear-of-god-rules-in-the-heart-it-will-appear-both-in-works-of-charity-matthew-henry-58-18-25.jpg" class="d-block w-100" >            
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
                  <div class="div-content" >
                      <img src="https://www.azquotes.com/picture-quotes/quote-wherever-the-fear-of-god-rules-in-the-heart-it-will-appear-both-in-works-of-charity-matthew-henry-58-18-25.jpg" class="d-block w-100" >
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
                  <div class="div-content" >
                      <img src="https://www.azquotes.com/picture-quotes/quote-wherever-the-fear-of-god-rules-in-the-heart-it-will-appear-both-in-works-of-charity-matthew-henry-58-18-25.jpg" class="d-block w-100" >
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                  <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__340.jpg" class="d-block w-100" >            
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
                  <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__340.jpg" class="d-block w-100" >
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
                  <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__340.jpg" class="d-block w-100" >
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>    
              </div>
              <div class="carousel-item" data-bs-interval="3000">
              <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014__340.jpg" class="d-block w-100" >            
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
                  <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014__340.jpg" class="d-block w-100" >
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
                  <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014__340.jpg" class="d-block w-100" >
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
              </div>
            </div>
          </div>
          <div id="carouselExampleSlidesOnly" class="carousel slide carousel-2" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                  <div class="div-content">
                      <img src="https://www.azquotes.com/picture-quotes/quote-wherever-the-fear-of-god-rules-in-the-heart-it-will-appear-both-in-works-of-charity-matthew-henry-58-18-25.jpg" class="d-block w-100" >            
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
                  <div class="div-content">
                      <img src="https://www.azquotes.com/picture-quotes/quote-wherever-the-fear-of-god-rules-in-the-heart-it-will-appear-both-in-works-of-charity-matthew-henry-58-18-25.jpg" class="d-block w-100" >
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                  <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__340.jpg" class="d-block w-100" >            
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
                  <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__340.jpg" class="d-block w-100" >
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>   
              </div>
              <div class="carousel-item" data-bs-interval="3000">
              <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014__340.jpg" class="d-block w-100" >            
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
                  <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014__340.jpg" class="d-block w-100" >
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
              </div>
            </div>
          </div>
          <div id="carouselExampleSlidesOnly" class="carousel slide carousel-3" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                  <div class="div-content">
                      <img src="https://www.azquotes.com/picture-quotes/quote-wherever-the-fear-of-god-rules-in-the-heart-it-will-appear-both-in-works-of-charity-matthew-henry-58-18-25.jpg" class="d-block w-100" >            
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                  <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823__340.jpg" class="d-block w-100" >            
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>  
              </div>
              <div class="carousel-item" data-bs-interval="3000">
              <div class="div-content" >
                      <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014__340.jpg" class="d-block w-100" >            
                      <p> Lorem ipsum dolor sit amet. Ut libero Quis ut doloribus ipsam ut voluptatem repellendus est sint repudiandae ut dignissimos quae id assumenda voluptates. Eos quam eveniet ut dolorum eveniet et deleniti doloremque 33 nihil corrupti in explicabo tenetur aut nostrum dignissimos!  </p>
                  </div>
              </div>
            </div>
          </div>
    </section>
    <section class="sixth-section">
        <div class="get-in-touch">GET IN TOUCH</div>

        <div class="container">
            <div class="row">
              <div class="col-lg-4  contact">
                <i class="fa-solid fa-phone fa-3x"></i>
                <h4>PHONE</h4>
                +2348033191189
             </div>
              <div class="col-lg-4 contact">
                <i class="fa-solid fa-location-dot fa-3x"></i>
                <h4>VISIT US</h4>
                NO 29 ELIGBOLO STREET
              </div>
              <div class="col-lg-4 contact">
                <i class="fa-solid fa-envelope fa-3x"></i>
                <h4>EMAIL</h4>
                stellamaris@gmail.com
              </div>
            </div>
        </div>
        <a href="{{url_for('contact_us') }}" ><button  type="button" class="btn btn-outline-dark btn-lg">CONTACT US</button></a>
    </section>
    {% endblock body %}